.country-selector {
  display: none;
  font-weight: 500;
  font-size: 1.125rem;
}

.country-selector a,
.country-selector a:hover {
  color: var(--background--50);
}

.wg-drop.country-selector {
  background: transparent;
  border-radius: 0.875rem;
}
.wg-drop.country-selector:hover {
  background: rgba(255, 255, 255, 0.05);
}
.wg-drop.country-selector ul {
  border-radius: 0.875rem;
  background: #fff;
  border: none;
}
.wg-drop.country-selector .wgcurrent {
  border: none;
  position: relaitve;
}
.wg-drop.country-selector .wgcurrent:after {
  display: none;
}
.wg-drop.country-selector a {
  height: auto;
}
.wg-drop.country-selector .wgcurrent a {
  padding: 0.875rem 2rem 0.875rem 1rem;
}
.country-selector .wg-li {
  font-size: 1rem;
}
.country-selector a:hover {
  color: inherit;
}

.wg-drop.country-selector :not(.wgcurrent) a {
  padding: 0.5rem 1rem;
}

aside.country-selector.weglot_switcher.default.wg-drop ul {
  top: 0;
  right: 100%;
  background: transparent;
}
aside.country-selector.weglot_switcher.default.wg-drop .wgcurrent a {
  padding: 0.5rem;
}
.wg-drop.country-selector :not(.wgcurrent) a {
  padding: 0.5rem;
}
aside.country-selector.weglot_switcher.default.wg-drop a {
  height: 2rem;
}
.wg-drop.country-selector li {
  display: flex;
  justify-content: center;
  align-items: center;
}
aside.country-selector.weglot_switcher.default.wg-drop .wg-li.wgcurrent {
  height: inherit;
}

aside.country-selector.weglot_switcher.default a {
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  aside.country-selector.weglot_switcher.default a {
    font-size: 1rem;
  }
}
